*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 63, 69);
}
#card{
    width: 380px;
    height: 500px;
    background-color: beige;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

h2{
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h4{
    font-size: 20px;
    color: rgb(1, 179, 1);
    font-weight: 700;
    margin-bottom: 60px;
}

#buttons{
    
    display: flex;
    font-size: 16px;
    /* border: 1px solid red; */
    align-items: center;
    justify-content:center;
    gap: 10px;
}

.btn{
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: ease all .3s;
}

.rmv{
    background-color: rgb(182, 184, 184);
    display:none;
}
.rmv:hover{
    background-color:rgb(146, 147, 147) ;
}
.add{
    background-color: rgb(46, 136, 107);
    color: #fefefe;
}
.add:hover{
    background-color: rgb(57, 163, 130);
}